html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-container {
  max-width: 800px; /* Maximum width is 800px */
  width: 100%; /* Scales down to fit the window when narrower */
  padding: 0 15px;
  box-sizing: border-box;
  text-align: center;
  margin-top: 0;
  display: flex;
  flex-direction: column;

  background-color: rgba(0, 128, 0, 0);
}

@media (min-width: 800px) {
  .app-container {
    width: 800px; /* On screens larger than 800px, the container will be fixed at 800px */
  }
}

.app-button {
  background-color: rgba(128, 128, 128, 0);
  width: auto;
  max-width: 40px;
  border: none;
  padding: 10px;
  display: flex;
  align-items: center;
}

.app-button:hover {
  cursor: pointer;
}



.send-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  filter: invert(100%);
}

.app-textarea {
  box-sizing: border-box;
  width: 100%;
  height: 138px; /* Fix the height so it's always the same */
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 22px;
  padding-right: 22px;
  font-size: 19px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  border: none;
  background-color: rgb(52, 52, 52);
  color: rgb(255, 255, 255);
  resize: none; /* Disable resizing */
  white-space: pre-wrap;
  border-radius: 22px;
  line-height: 1.5;
  border: 1px solid white;

  /* font-family: 'Courier New', Courier, monospace; */
  /* background-color: rgb(24, 24, 24);  */

}

.app-header {
  width: 100%;
  padding: 0px; /* Adjust padding as needed */
  background-color: #f3f3f300; /* Matches your background color scheme */
  display: flex;
  margin-top: -20px;
  margin-bottom: -30px;
  justify-content: center; /* Centers content horizontally */
}

.header-div {
  display: flex;
  align-items: center; /* Vertically aligns the logo and title */
}

.sparkle-icon {
  margin-bottom: 10px;
  margin-right: 10px; /* Adds space between the logo and the header text */
  width: 70px; /* Doubles the original width */
  height: auto; /* Keeps the aspect ratio */
}

.app-title {
  font-size: 48px; /* Doubles the font size */
  /* font-weight: bold;  */
  color: rgb(255, 255, 255); /* Text color */
  
}

.recommendations-container {
  text-align: left;
  margin-top: 20px;
}

.recommendation {
  background-color: rgb(26, 26, 26);
  border-radius: 5px;
  font-size: 23px;
  margin-bottom: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between; /* Ensures text and buttons are on the same line with space in between */
  align-items: center; /* Vertically aligns the buttons with the text */
}

.recommendation p {
  margin: 0;
  flex-grow: 1; /* Allows the text to take up remaining space */
  padding-right: 10px; /* Adds some padding between the text and buttons */
  word-wrap: break-word; /* Ensures text wraps before reaching buttons */
}

.button-container {
  display: flex;
  justify-content: flex-end; /* Keeps the buttons aligned to the right */
  align-items: center;
}

.button-container-submit {
  display: flex;
  justify-content: flex-end; /* Keeps the buttons aligned to the right */
  align-items: center;
  /* background-color: red; */
  margin-top: -22px;
  margin-bottom: 0px;
}

